* {
    box-sizing: border-box;
}

body{
    background-color: plum;
    color:white;
    margin:0;
}


img{
    width:35%;
    padding:20px;
}

.nav-bar {
    background-color: aquamarine;
    color: black;
    padding:5px;
    width:100%;
   
    display: flex;
    justify-content: space-between;   
}


ul {
    display: flex;
    justify-content: space-around;
    
}

li{
    list-style: none;
    padding:24px;
    font-size:25px;
    margin-right: 5px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.container{
    border: 1px black solid;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: ;
  
}


