* {
    box-sizing: border-box;
}

body{
    background-color: plum;
    color:white;
    margin: auto;
}


.nav-bar {
    background-color: aquamarine;
    color: black;
    padding:10px;
    display: flex;
    justify-content: space-between;   
}





